<h2>Owner dashboard</h2>


<ul>



</ul>

<div class='row'>
  <div class='col-sm-6'>
    <div class='panel panel-info' style="min-height: 350px;">
      <div class='panel-heading'>
        Your Pets
        <%= link_to 'Add your pet', new_owner_pet_path(current_owner), class: 'btn btn-info pull-right' %>
      </div>
      <div class=' panel-body'>
        <% if @current_owner_pets.present? %>
        <table class="table">
          <thead>
            <tr>
              <th>Pet type</th>
              <th>Breed</th>
              <th>Area</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% @current_owner_pets.each do |pet| %>

            <tr>
              <td><%= pet.try(:pet_type).capitalize %></td>
              <td><%= pet.try(:breed).capitalize %></td>
              <td><%= pet.try(:area).capitalize %></td>
              <td><a href="<%= pet_show_path(pet) %>">View</a></td>
              <td><a href="<%= edit_owner_pet_path(current_owner, pet) %>">Edit</a></td>
              <td><a href="<%= owner_pet_path(current_owner, pet) %>" data-method='delete'>Delete</a></td>
            </tr>
            <% end %>

          </tbody>
        </table>
        <% else %>
      </br>
        <div class="alert alert-warning" role="alert">We didn't find any pets in our system owned by you.</div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='panel panel-info' style="min-height: 350px;">
      <div class='panel-heading'>
        Walk requests
        <a class="btn btn-info pull-right" href="<%= new_message_path(walk_request: :true) %>">Create walk request</a>
      </div>
      <div class=' panel-body'>
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#current_owner_raised" role="tab" data-toggle="tab">Sent</a></li>
          <li><a href="#current_owner_responded" role="tab" data-toggle="tab">Received</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="current_owner_raised">
            <% if @current_owner_sent_walk_requests.present? %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sent to</th>
                    <th>On</th>
                  </tr>
                </thead>
                <tbody>
                  <% @current_owner_sent_walk_requests.each do |walk_request| %>
                    <tr>
                      <td><a href="<%=  messages_path %>"><%= walk_request.receiver.name_or_email %></a></td>
                      <td><%= walk_request.created_at.getlocal.strftime('%d-%m-%y  %I:%M %p') %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </br>
            <% else %>
          </br>
            <div class="alert alert-warning" role="alert">We couldn't find any walk requests made by you.</div>
            <% end %>
          </div>
          <div class="tab-pane" id="current_owner_responded">
            <% if @current_owner_received_walk_requests.present? %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sent by</th>
                    <th>On</th>
                  </tr>
                </thead>
                <tbody>
                  <% @current_owner_received_walk_requests.each do |walk_request| %>
                  <tr>
                    <td><a href="<%=  messages_path %>"><%= walk_request.sender.name_or_email %></a></td>
                    <td><%= walk_request.created_at.getlocal.strftime('%d-%m-%y  %I:%M %p') %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
          </br>
              <div class="alert alert-warning" role="alert">We couldn't find any walk requests received by you.</div>
            <% end %>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>


<div class='row'>
  <div class='col-sm-6'>
    <div class='panel panel-info' style="min-height: 350px;">
      <div class='panel-heading'>
        Adoption Requests
      </div>
      <div class=' panel-body'>
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#current_owner_raised" role="tab" data-toggle="tab">You raised</a></li>
          <li><a href="#current_owner_responded" role="tab" data-toggle="tab">You responded to</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="current_owner_raised">
            <% if current_owner.adoption_requests.present? %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>No. of responses</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% current_owner.adoption_requests.each do |adoption_request| %>
                    <tr>
                      <td><%= adoption_request.pet.name %></td>
                      <td><%= adoption_request.pet.pet_type %></td>
                      <td><%= adoption_request.adoption_responses.count %></td>
                      <td><%= link_to "View Details", adoption_request_path(adoption_request) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </br>
            <% else %>
          </br>
            <div class="alert alert-warning" role="alert">We couldn't find any any adoption request created by you.</br>Probably you didn't create any. Create <a href="<%= new_adoption_request_path %>">here</a></div>
            <% end %>
          </div>
          <div class="tab-pane" id="current_owner_responded">
            <% if current_owner.adoption_responses.present? %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% current_owner.adoption_responses.each do |adoption_reponse| %>
                  <tr>
                    <td><%= adoption_reponse.adoption_request.pet.name %></td>
                    <td><%= adoption_reponse.adoption_request.pet.pet_type %></td>
                    <td><%= adoption_reponse.adoption_request.status %></td>
                    <!-- <td><%= link_to "View Details", adoption_request_adoption_response_path(adoption_reponse.adoption_request, adoption_reponse) %></td> -->
                  </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
          </br>
              <div class="alert alert-warning" role="alert">We couldn't find any adoption response made by you.</br>Probably you didn't made any. Respond to adoption requests <a href="<%= adoption_requests_path %>">here</a></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='col-sm-6'>
    <div class='panel panel-info' style="min-height: 350px;">
      <div class='panel-heading'>
        Pets in your area
      </div>
      <div class=' panel-body'>
        <div class="alert alert-warning" role="alert">This section is coming up soon.</div>
      </div>
    </div>
  </div>
</div>
