<h2>THis is the dashboard page for happy paws users</h2>


<ul>
  <li><%= link_to 'Add your pet', new_pet_path %></li>
  <li><%= link_to 'Add your pet' %></li>
  <li><%= link_to 'Add your pet' %></li>
  <li><%= link_to 'Add your pet' %></li>
  <li><%= link_to 'Add your pet' %></li>

</ul>
