<% @messages.each do |message| %>
<% sender = (message.sender_id == @user.id) ? @user : current_owner %>
<div class="row">
  <div class="col-md-1 portfolio-item">
    <a href="#">
      <img src="<%=  sender.image.try(:remote_url) %>" class="img-circle" height="20" >
    </a>


  </div>
  <div class="col-md-11">
    <strong>
      <a href="#"><%= sender.first_name %></a>
    </strong>
    <p><%= message.content %></p>
    <% message.attachments.present? %>
    <% message.attachments.each do |a| %>
    <a href='<%= a.file.remote_url %>' target="_blank"><%= File.basename(a.file.remote_url) %> </a>
    &nbsp&nbsp&nbsp

    <% end %>
    <span><%= time_ago_in_words(message.created_at) %> ago</span>
  </div>
</div>
</br>

<% end %>
