<div class="col-md-12 ">

  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="panel panel-info" style="border-color: #51baa4;">
          <div class="panel-heading panel-color" style="">
            <center style="line-height:4em;"><b>Sign up</b></center>
          </div>
          <div class="panel-body">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true %>
            </div>
            <br />
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <br />
            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            <br />
            <div class="actions">
              <%= f.submit "Sign up", :class => 'button alt fit small' %>
            </div>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<div class="col-md-4"></div>
</div>
