<b>Listing Discussions</b>
<a href="<%= new_discussion_path %>" class="btn btn-info pull-right">Post Discussion</a>
</br></br>
<!-- <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="<%= discussions_path %>">All</a></li>
  <li role="presentation"><a href="<%= my_discussions_path%>">My discussions</a></li>
</ul> -->
<div class="panel panel-default">
  <div class="panel-heading">
    <a href="<%= discussions_path %>" class="btn btn-default panel-title active" style="background-color: #2AABD2;">All</a>
    <a href="<%= my_discussions_path %>" class="btn btn-default panel-title">My discussions </a>
  </div>
  <div class="panel-body">
<table>
  <thead>
    <tr>
      <th>Topic</th>
      <!-- <th>Content</th> -->
      <th>Discussion type</th>
      <th>Breed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= discussion.topic.truncate(70) %></td>
        <!-- <td><%#= discussion.content.truncate(70) %></td> -->
        <td><%= discussion.discussion_type %></td>
        <td><%= discussion.breed %></td>
        <td><%= link_to 'Show', discussion %></td>
        <% if current_owner == discussion.owner%>
          <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
          <td><%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
