<section id="main" class="wrapper">
	<div class="container">

		<header class="major special">
			<h2><%= @discussion.topic %></h2>
		</header>

	</br><p><%= @discussion.content %></p>
</br>
<p><strong>BREED:</strong> <%= @discussion.breed %></p>
<!-- <p class="pull-right">TYPE: <%= @discussion.discussion_type %></p> -->
<p><strong>Attachments:</strong>
	<% @discussion.attachments.each do |attachment| %>
	<a href="<%= attachment.file.url %>"><%= attachment.file.name%></a>
	&nbsp&nbsp
	<% end %>
</p>


<%= render :partial => 'comments/comments_list', locals: {discussion: @discussion }%>


</div>
</section>
