<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2><%= @discussion.topic %></h2>
					</header>

					<a class="image fit" style="width:100%;"><center><%= image_tag @discussion.image.thumb('400x200#').url if @discussion.image_stored? %></center></a>
				</br><p><%= @discussion.content %></p>
        </br>
          <p><strong>BREED:</strong> <%= @discussion.breed %></p>
          <!-- <p class="pull-right">TYPE: <%= @discussion.discussion_type %></p> -->


     <div id="comment_list">
      <%= render :partial => 'comments/comments_list', locals: {discussion: @discussion }%>
     </div>

        </div>
			</section>
