<h1>Add Comment</h2>
<%= form_for(@comment, :url => discussion_comments_path(@discussion), method: :post, :remote => true)  do |f| %>
<div class="12u 12u$(xsmall)">
  <%= f.text_area :content %>
</div><br>
<%= f.hidden_field :commentable_id, :value => @discussion.id %>
<%= f.hidden_field :commentable_type, :value => 'Discussion'%>
<div class="actions">
  <%= f.submit "Create"%>
</div>
<% end %>
<h1>Comments:</h1>
<% @discussion.comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>
