<b>Listing Pets</b>
<% if current_owner %><a href="<%= new_owner_pet_path(current_owner) %>" class="btn btn-info pull-right">Add Your Pet</a><% end %>
</br></br>
<div class="panel panel-default">
  <% if current_owner %>
  <div class="panel-heading">
    <form role="form" action="/pets">
      <div class="col-lg-9">
      <div class="col-lg-3">
        <div class="select-wrapper search-dropdown-wrapper">
        <%= select_tag :pet_type, options_for_select([['Select type', ''],['Cat', 'cat'], ['Dog', 'dog']], :selected => (params[:pet_type])), class: 'pet_type search-dropdown' %>
      </div>
      </div>
      <div class="col-lg-3">
        <div class="select-wrapper search-dropdown-wrapper">
        <%= select_tag :breed, options_for_select([['Select Breed', '']], :selected => (params[:pet_breed])), class: 'pet_breed search-dropdown' %>
      </div>
      </div>
      <div class="col-lg-3">
        <div class="select-wrapper search-dropdown-wrapper">
        <%= select_tag :color, options_for_select([['Select', '']] + @pets.collect{|p| [p.color,p.color]}.uniq, :selected => (params[:color])), class: 'search-dropdown' %>
      </div>
      </div>

      </div>
      <div class="col-lg-3">
        <%= submit_tag "Filter" , :name => nil, :class => "pull-right button alt small" %>
        </div>
    </form>
  </div>
  <% end %>
  <div class="panel-body">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
      <th>Gender</th>
      <th>Pet type</th>
      <th>Area</th>
      <th>Color</th>
      <th>Location</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><a href="<%= pet_path(pet)%>"><%= pet.name %></a></td>
        <td><%= pet.age %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.pet_type %></td>
        <td><%= pet.area %></td>
        <td><%= pet.color %></td>
        <td><%= pet.location %></td>
        <% if current_owner == pet.owner %>
          <td><%= link_to 'Edit', edit_owner_pet_path(current_owner, pet) %></td>
          <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
