

<p>
  <strong>Pet type:</strong>
  <%= @pet.pet_type %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @pet.area %>
</p>

<p>
  <strong>Color:</strong>
  <%= @pet.color %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pet.location %>
</p>
<div id="links">
  <% @pet.attachments.each do |attachment| %>
    <a href="<%= attachment.file.url %>" title="<%= @pet.name %>" data-gallery>
      <%= image_tag attachment.file.url, size: '120x120' %>
    </a>
  <% end %>
</div>
<%= render 'shared/image_gallery_modal' %>
