

<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
            <div id="links">
                <a href="<%= @pet.attachments.first.file.url  if @pet.attachments.present? %>" title="<%= @pet.name %>" data-gallery>
                  <%= image_tag @pet.attachments.first.file.url, size: '420x420'   if @pet.attachments.present? %>
                </a>

            </div>
						<!-- <span class="image"><img src="images/pic01.jpg" alt="" /></span> -->
						<div class="content">
              <p>
                <strong>Pet type:</strong>
                <%= @pet.pet_type %>
                  <span class="pull-right"><strong>Color:</strong>
                <%= @pet.color %></span>
              </p>
              <p>
                <strong>Name:</strong>
                <%= @pet.name %>

                <span class="pull-right"><strong>Breed:</strong>
                <%= @pet.breed %></span>
              </p>
              <p>
                <strong>Gender:</strong>
                <%= @pet.gender %>
                <span class="pull-right"><strong>Age:</strong>
                <%= @pet.age %></span>
              </p>

							<p>
                <strong>Area:</strong>
                <%= @pet.area %>
              </p>
							<!-- <ul class="actions">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul> -->
						</div>
					</article>
				</div>
			</section>
      <div id="links">
        <% @pet.attachments.each do |attachment| %>
          <a href="<%= attachment.file.url %>" title="<%= @pet.name %>" data-gallery>
            <%= image_tag attachment.file.url, size: '120x120' %>
          </a>
        <% end %>
      </div>
      <%= render 'shared/image_gallery_modal' %>
