<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @disucssion.topic %>
</p>

<p>
  <strong>Content:</strong>
  <%= @disucssion.content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @disucssion.type %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @disucssion.breed %>
</p>

<%= link_to 'Edit', edit_disucssion_path(@disucssion) %> |
<%= link_to 'Back', disucssions_path %>
