<%= form_for(@adoption_request) do |f| %>
  <% if @adoption_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adoption_request.errors.count, "error") %> prohibited this adoption_request from being saved:</h2>

      <ul>
      <% @adoption_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.select :pet_id, current_owner.pets.collect{|p| [p.name,p.id]} %>
  </div>
  <div class="actions">
    <%= f.submit 'Send Request' %>
  </div>
<% end %>
