<p id="notice"><%= notice %></p>

<p>
  <strong>Adoption request:</strong>
  <%= @adoption_response.adoption_request_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @adoption_response.owner_id %>
</p>

<%= link_to 'Edit', edit_adoption_response_path(@adoption_response) %> |
<%= link_to 'Back', adoption_responses_path %>
