<!DOCTYPE html>
<html>
<head>
  <title>Happy paws</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Header -->
  <header id="header">
    <h1><a href="index.html">Happy paws</a></h1>
    <% if current_owner.present? %>
    <%= link_to "Sign out", destroy_owner_session_path, { method: :delete } %> &nbsp;| &nbsp;
    <%= link_to "Dashboard", owner_dashboard_path %>
    <% else  %>
    <%= link_to "Sign in", new_owner_session_path %>
    &nbsp&nbsp
    <%= link_to "Sign up", new_owner_registration_path %>
    <% end %>
    <a href="#nav">Menu</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="index.html">Dashboard</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
  </nav>
</br>
<div id='alert-area'>
  <%= show_flash_message(flash) %>
</div>

  <!-- Main -->
  <section id="main" class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="#" class="icon fa-facebook">
          <span class="label">Facebook</span>
        </a></li>
        <li><a href="#" class="icon fa-twitter">
          <span class="label">Twitter</span>
        </a></li>
        <li><a href="#" class="icon fa-instagram">
          <span class="label">Instagram</span>
        </a></li>
        <li><a href="#" class="icon fa-linkedin">
          <span class="label">LinkedIn</span>
        </a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Untitled.</li>
        <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
        <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
      </ul>
    </div>
  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>




</html>
