<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Happy Paws</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body class="landing">
  <div class=" ">
  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="/"><%= image_tag asset_path('logo'), size: '200x95', class: 'img-responsive' %></a></h1>
    <a href="#nav">Menu</a>
  </header>

  <!-- Nav -->
  <%= render 'layouts/nav_bar' %>

  <!-- Banner -->
  <section id="banner">
    <div style="position: absolute; left: 10em; background-color: rgba(255, 255, 255, 0.08); /* opacity: 0.4; */ padding: 20px; border-radius: 10px;">
    <h2 style="color: #DFE0E0; font-family: 'trebuchet MS',sans-serif">Tinder for your pet</h2>


    <div class="row uniform 70%">
			<div class="12u$">
        <input name="name" placeholder="Enter your location" type="text" onclick="autoCompleteLocation()" id="pac-input">
			</div>
		</div>
  </div>
  </section>



  <!-- Four -->
  <!-- <section id="four" class="wrapper style2 special">
    <div class="inner">
      <header class="major narrow">
        <h2>Get in touch</h2>
        <p>Ipsum dolor tempus commodo adipiscing</p>
      </header>
      <form action="#" method="POST">
        <div class="container 75%">
          <div class="row uniform 50%">
            <div class="6u 12u$(xsmall)">
              <input name="name" placeholder="Name" type="text" />
            </div>
            <div class="6u$ 12u$(xsmall)">
              <input name="email" placeholder="Email" type="email" />
            </div>
            <div class="12u$">
              <textarea name="message" placeholder="Message" rows="4"></textarea>
            </div>
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" class="special" value="Submit" /></li>
          <li><input type="reset" class="alt" value="Reset" /></li>
        </ul>
      </form>
    </div>
  </section> -->

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="#" class="icon fa-facebook">
          <span class="label">Facebook</span>
        </a></li>
        <li><a href="#" class="icon fa-twitter">
          <span class="label">Twitter</span>
        </a></li>
        <li><a href="#" class="icon fa-instagram">
          <span class="label">Instagram</span>
        </a></li>
        <li><a href="#" class="icon fa-linkedin">
          <span class="label">LinkedIn</span>
        </a></li>
      </ul>
      <!-- <ul class="copyright">
        <li>&copy; Untitled.</li>
        <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
        <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
      </ul> -->
    </div>
  </footer>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzjmALmX7DzTfngCLT4G1iL6hl2099bFw&libraries=places"
       async defer></script>
  <%= javascript_include_tag 'application'%>
</div>
<script type="text/javascript">
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#161616";
  rumbleBannerTextColor = "#b0b0b0";
  rumbleBannerLinkColor = "#ffffff";
  rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
</script>
<script src="https://d4nnn7wspfa3h.cloudfront.net/banner-2015.js" type="text/javascript"></script>
<script type="text/javascript">
var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};
var component;
//AutoComplete search location
function autoCompleteLocation(){


  //var input = document.getElementById('pac-input');
  //var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('pac-input')),
      {types: ['geocode']});
  //autocomplete.addListener('place_changed', fillInAddress);
//   function fillInAddress() {
//   // Get the place details from the autocomplete object.
//   var place = autocomplete.getPlace();
//
//   for (component in componentForm) {
//     document.getElementById(component).value = '';
//     document.getElementById(component).disabled = false;
//   }
//
//   // Get each component of the address from the place details
//   // and fill the corresponding field on the form.
//   for (var i = 0; i < place.address_components.length; i++) {
//     var addressType = place.address_components[i].types[0];
//     if (componentForm[addressType]) {
//       var val = place.address_components[i][componentForm[addressType]];
//       document.getElementById('pac-input').value = val;
//     }
//   }
// }
google.maps.event.addListener(autocomplete, 'place_changed', function() {
console.log("===========================" + document.getElementById('pac-input').value);
var location_name = document.getElementById('pac-input').value;
window.location = "/find?location=" + location_name;
});


}

</script>
</body>
</html>
